{% extends "base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "lbc_list" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ object.title }}</h4><br>
                    {% if object.street_set.all.exists %}
                        <p><a href="{{ object.street_set.first.map_link }}" target='_blank'>{{ object.street_set.first }} - {{ object.zip_code }} {{ object.city }}</a></p>
                    {% else %}
                        <p>{{ object.zip_code }} {{ object.city }}</p>
                    {% endif %}
                </div>
                <div class="panel-body">
                    {{ object.description|safe }}<br>
                    <a href="{{ object.url }}" target='_blank'>{{ object.pk }}</a>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>{% trans 'Price : ' %}</strong>{{ object.price }} € - {{ object.price_per_square_meter }} €/m²</li>
                    <li class="list-group-item"><strong>{% trans 'Charges incl. : ' %}</strong>{{ object.charges_included }}</li>
                    <li class="list-group-item"><strong>{% trans 'GES : ' %}</strong>
                        {% include 'ad/flatad_letter.html' with letter=object.ges %}
                    </li>
                    <li class="list-group-item"><strong>{% trans 'Energy Class : ' %}</strong>
                        {% include 'ad/flatad_letter.html' with letter=object.energy_class %}
                    </li>
                    <li class="list-group-item"><strong>{% trans 'Type : ' %}</strong>{{ object.get_flat_type_display }}</li>
                    <li class="list-group-item"><strong>{% trans 'Rooms : ' %}</strong>{{ object.rooms }}</li>
                    <li class="list-group-item"><strong>{% trans 'Furnished : ' %}</strong>{{ object.furnished }}</li>
                    <li class="list-group-item"><strong>{% trans 'Area : ' %}</strong>{{ object.area }}</li>
                </ul>
            </div>
            {% if object.reviewed %}
                <a href="{% url 'ad:ad-unreview' object.pk %}" class="btn btn-primary" role="button">{% trans "Mark as unreviewed" %}</a>
                {% if object.interesting %}
                    <a href="{% url 'ad:ad-notinteresting' object.pk %}" class="btn btn-warning" role="button">{% trans "Finaly, no way!" %}</a>
                {% endif %}
            {% else %}
                <a href="{% url 'ad:ad-review' object.pk %}" class="btn btn-danger" role="button">{% trans "Mark as reviewed" %}</a>
                {% if not object.interesting %}
                    <a href="{% url 'ad:ad-interesting' object.pk %}" class="btn btn-success" role="button">{% trans "Hum, interesting !" %}</a>
                {% endif %}
            {% endif %}
            {% if not object.street_set.all.exists %}
                <a href="{% url 'ad:ad-create-address' object.pk %}" class="btn btn-default" role="button">{% trans "Address" %}</a>
            {% else %}
                <a href="{% url 'ad:ad-update-address' object.street_set.first.pk %}" class="btn btn-default" role="button">{% trans "Address" %}</a>
            {% endif %}
        </div>
        <div class="col-sm-8">
            {% for image in object.flatimage_set.all %}
                <img src="{{ image.url }}" class="img-responsive img-rounded"><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
