{% extends "base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "lbc_list" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="list-group">
            {% for ad in object_list %}
                {% if ad.reviewed %}
                    <a href="{% url 'ad:ad-detail' ad.pk %}" class="list-group-item">{{ ad }}</a>
                {% else %}
                    <a href="{% url 'ad:ad-detail' ad.pk %}" class="list-group-item active">{{ ad }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
