{% if letter == 'A' %}
    <strong><span class="label label-success">{{ letter }}</span></strong>
{% else %}
    <strong><span class="text-success">A</span></strong>
{% endif %}

{% if letter == 'B' %}
    <strong><span class="label label-success">{{ letter }}</span></strong>
{% else %}
    <strong><span class="text-success">B</span></strong>
{% endif %}

{% if letter == 'C' %}
    <strong><span class="label label-warning">{{ letter }}</span></strong>
{% else %}
    <strong><span class="text-warning">C</span></strong>
{% endif %}

{% if letter == 'D' %}
    <strong><span class="label label-warning">{{ letter }}</span></strong>
{% else %}
    <strong><span class="text-warning">D</span></strong>
{% endif %}

{% if letter == 'E' %}
    <strong><span class="label label-danger">{{ letter }}</span></strong>
{% else %}
    <strong><span class="text-danger">E</span></strong>
{% endif %}

{% if letter == 'F' %}
    <strong><span class="label label-danger">{{ letter }}</span></strong>
{% else %}
    <strong><span class="text-danger">F</span></strong>
{% endif %}

{% if letter == 'G' %}
    <strong><span class="label label-default">{{ letter }}</span></strong>
{% else %}
    <strong><span class="text-default">G</span></strong>
{% endif %}

{% if letter == 'H' %}
    <strong><span class="label label-default">{{ letter }}</span></strong>
{% else %}
    <strong><span class="text-default">H</span></strong>
{% endif %}

{% if letter == 'I' %}
    <strong><span class="label label-default">{{ letter }}</span></strong>
{% else %}
    <strong><span class="text-default">I</span></strong>
{% endif %}
